version: '3.8'

services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: lucky1234
      MONGO_INITDB_ROOT_PASSWORD: Vestalis78

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    environment:
      - DATABASE_URL=mongodb://lucky1234:Vestalis78@mongo:27017/
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend 
      dockerfile: Dockerfile
    ports:
      - "3000:80"

  mongo-express:
    image: mongo-express
    container_name: mexpress
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=lucky1234
      - ME_CONFIG_MONGODB_ADMINPASSWORD=Vestalis78
      - ME_CONFIG_MONGODB_URL=mongodb://lucky1234:Vestalis78@mongo:27017/?authSource=admin
      - ME_CONFIG_BASICAUTH_USERNAME=mexpress
      - ME_CONFIG_BASICAUTH_PASSWORD=mexpress
    links:
      - mongo
    restart: unless-stopped
    ports:
      - "8081:8081"
volumes:
  mongo-data:
